<?xml version="1.0" encoding="UTF-8" ?>
<launch>
        <!-- overwriting these args -->
        <arg name="debug" default="false" />
        <arg name="gui" default="true" />
        <arg name="pause" default="false" />
        <arg name="world" default="sim_world.world" />

        <!-- include gazebo_ros launcher -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name" value="$(find surveillance_simulator)/world/$(arg world)" />
                <arg name="debug" value="$(arg debug)" />
                <arg name="gui" value="$(arg gui)" />
                <arg name="paused" value="$(arg pause)" />
                <arg name="use_sim_time" value="true" />
        </include>

        <!-- RTSP media server-->
        <node 
                name="rtsp_media_server" 
                pkg="surveillance_simulator" 
                type="process_proxy.py" 
                args="" 
                respawn="true"
                respawn_delay="3"
        >
                <env name="NODE_NAME" value="rtsp_media_server" />
                <env name="BIN_PATH" value="$(find surveillance_simulator)/bin/rtsp-server" />
                <env name="ARGS" value="$(find surveillance_simulator)/config/rtsp-mounts.config" />

        </node>

        <node 
                name="eo_cam_rtsp_stream_src" 
                pkg="surveillance_simulator" 
                type="eo_cam_rtsp_stream_src.py" 
                respawn="true"
                respawn_delay="3"
        >
        </node>

        <!-- http://wiki.ros.org/roslaunch/XML/node -->
        <node 
                name="payload_controller" 
                pkg="surveillance_simulator" 
                type="payload_controller.py" 
                respawn="true"
                respawn_delay="3"
        >
                <env name="ROS_PYTHON_LOG_CONFIG_FILE" value="$(find surveillance_simulator)/config/python_logging.conf" />
                <!-- absolute = Message200 - relative = Message20000 -->
                <env name="PAN_TILT_MODE" value="relative" />
        </node>

        <node 
                name="stanag_and_payload_connector" 
                pkg="surveillance_simulator" 
                type="stanag_and_payload_connector.py" 
                respawn="true"
                respawn_delay="3"
        >
                <env name="ROS_PYTHON_LOG_CONFIG_FILE" value="$(find surveillance_simulator)/config/python_logging.conf" />
                <env name="EXTERNAL_RTSP_IP_ADDRESS" value="192.168.230.169" />
        </node>
</launch>
