<?xml version="1.0" ?>
<model>
  <name>Sensor Mount</name>
  <sdf version="1.5">sensor_mount.sdf</sdf>

  <author>
    <name>Faisal Thaheem</name>
    <email>10938481+faisalthaheem@users.noreply.github.com</email>
  </author>

  <description>
    A model of a mount with sliprings for mouting cameras, radars etc.
  </description>
</model>