<?xml version="1.0" ?>
<model>
  <name>Extendable Mast</name>
  <sdf version="1.5">extendable_mast_model.sdf</sdf>

  <author>
    <name>Faisal Thaheem</name>
    <email>10938481+faisalthaheem@users.noreply.github.com</email>
  </author>

  <description>
    A model of an extendable mast.
  </description>
</model>